*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.aImgHeader {
    width: 10%;
}

.aImgHeader img{
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar {
    display: flex;
    gap: 39px;
 
}

.navBar a li {
       list-style: none;
}

main {
    background-color: white;
    padding: 40px;


}

.buscador {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtros {

    padding: 50px;
    background-color: lightblue;
    border: 2px solid lightseagreen;
}

.filtros label {
    padding: 10px;
}

select {
    width: 150px;
    height: 30px;
}


img {
    max-width: 300px;
    max-height: 150px;
}

.muestra_propiedades {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.propiedad {
    border-radius: 20px;
    padding: 30px;
    background-color: antiquewhite;

}



.tarjetaFavorito {
    margin: auto;
    background-color: wheat;
    width: 80%;
    height: auto;
    margin-top: 70px;
    display: flex;
}

table td {
    padding: 10px;
    padding-right: 60px;

}